@page
@model CS5227_A1_EDROU21600.Pages.ContactConfirmationModel
@{
	ViewData["Title"] = "Contact Conformation";
}

<h2>Thank you!</h2>
<p>Your message has been sent successfully. We will get bact to you soon.</p>
