@page
@model CS5227_A1_EDROU21600.Pages.OrderConfirmationModel
@{
	ViewData["Title"] = "Order Confirmation";
}
<h2 class="text-center mb-5">Thank You for Your Purchase!</h2>

<p>Your order has been successfully placed.</p>
